<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 6 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <body>
    <h1>Hello, Apa Kabar?</h1>
    <section>
      <form  action="{% url 'aku'%}" method="POST">
        {% csrf_token %}
        <div >
            {{ form_status }}
        </div>
            <div class="submit-button">
                <input class="submit" type="submit" value="Let's go!">
                <input type="button" class="delete" onclick="status.StatusPribadi.objects.all().delete()"value="Delete Status">
            </div>
            <div>
            <table class="table">
        <thead>
            <th>Your Status</th>
            
        </thead>
        <tbody>
            {% for i in status %}
            <tr>
                <td> {{i.statusah}} </td>
                <td> {{i.waktu_mempost}}
            </tr>             
            {% endfor %}
        </tbody>
    </table>
  </div>
  </body>
</html>
